*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* UTILITY */
.d-flex{
    display: flex;
}
.debug{
    border: 2px solid white;
}

/* HEADER */
.view-settings{
    justify-content: flex-end;
    gap: 20px;
    margin: 10px 10px 0 0;
}

.view-settings > a{
    color: white;
    text-decoration: none;
    background-color: grey;
    border-radius: 5px;
    padding:5px;
}

/* MAIN */
main{
    width: 80%;
    margin: auto;
}
.user-container{
    flex-wrap: wrap;
    gap:5px;
    margin-top: 80px;
}
.user{
    max-width: calc((100% / 7) - 10px);
    position:relative;
    
}
img{
    width: 100%;
}
.mic-name{
    position: absolute;
    bottom: 2px;
    left: 0;
    color: white;
    font-size: small;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 5px;;
}
/* FOOTER */
footer{
    margin-top:110px;
    background-color: #222222;
}
.sub-nav{
    justify-content: space-between;
}
.commands, .utility{
    align-items: center;
}
a{
    text-decoration: none;
}
i{
    color:white;
}
.audio-settings, .video-settings, .utility-items{
    flex-direction: column;
    align-items: center;
    padding:10px;
    color: white;
}
.icon{
    font-size: 25px;
}
.b-text{
    font-size: 12px;
    padding-top:5px;
}
.moresettings{
    font-size:10px;
    padding:10px;
}
.fa-share-from-square{
    color: green;
}
.end-call{
    justify-content: center;
    align-items: center;
    background-color:#4a4a4a;
}
.end-call > a{
    color:red;
    padding:10px;
    font-size:12px;
}